/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 .csv-contracheque th {
    font-weight: bold;
  font-size: 10px;
}

.csv-contracheque td {
    font-weight: bold;
  font-size: 10px;
}


.csv-contracheque table, .csv-contracheque td, .csv-contracheque th {
    text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}

