/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/
.csv-contracheque table {
border-collapse: collapse;
width: 100%;
}
.csv-contracheque th {
border: 1px solid black;
padding: 8px;
white-space: nowrap; /* This prevents line breaks */
font-size: 0.7em; 
font-weight: bold;
}
.csv-contracheque td {
border: 1px solid black;
padding: 8px;
white-space: nowrap; /* This prevents line breaks */
font-size: 0.6em; 
}
